* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

Button {
  text-transform: capitalize !important;
}

.nav-item {
  position: relative;
  color: white !important;
  margin-right: 15px !important;
  font-weight: bold !important;
  font-size: 17px !important;
}

img {
  width: 100%;
}

.drawer-item {
  position: relative;
}

.drawer-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid #7f5af0;
  transition: width 0.3s ease-in-out;
}

.drawer-item:hover::after,
.drawer-item.active-link::after {
  width: 100%;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid #7f5af0;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after,
.nav-item.active-link::after {
  width: 100%;
}

.focused .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #7f5af0 !important;
}

.focused .MuiInputLabel-root.Mui-focused {
  color: white !important;
}

.My-btn {
  border-radius: 5px !important;
  border: 1px solid #888 !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  color: #ffffff !important;
}

.a-project {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.4s ease, transform 0.4s ease;
  display: inline-block;
}

.a-project:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-5px);
  cursor: pointer;
}
.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
